<!DOCTYPE html>
<html lang="en" dir="ltr" style="background-color: black; margin: 0px; padding: 0px; width: 100%;">
  <head>
    <meta charset="utf-8">
    <title>Historial Academico</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
  </head>
  <body style="margin: 0px; padding: 0px;">
    <br>
      <br>
    
 
    <h1 style="width: 90%; margin-left: 60px; text-align: center; color:  white; background-color: black; border: 2px solid; padding: 10px; border-radius: 50px 20px;">Historial Academico</h1>
    <br>
    <form action="/ObtenerDatos/" method="post" class="">
      <section class="form-login">
      <h5>Ingreso De Datos</h5>
      
      <input class="controls" id="cedula" name="cedula" type="text" placeholder="Ingrese la Cedula" [(ngModel)]="Cedula">
      
      
      
     
      <input class="buttons" type="submit" (click)="cargarHistorial()" name="" value="Ingresar">
      <!--<button class="boton">Ingresar</button>-->
      
        <!--for demo wrap-->
        <h1>Materias Matriculas</h1>
        <div class="tbl-header">
        

          <table cellpadding="0" cellspacing="0" border="0">
            <thead>
              <tr>
                <th>Nivel</th>
                <th>Materia</th>
                <th>Grupo</th>
                <th>Nombre Profesor</th>
                <th>Apellidos Profesor </th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="tbl-content">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
              
                <tr *ngFor="let historialGrupo of historial | async">
                    <td>{{historialGrupo.materia.nivel}}</td>
                    <td>{{historialGrupo.materia.nombre}}</td>
                    <td>{{historialGrupo.numeroGrupo}}</td>
                    <td>{{historialGrupo.docente.persona.nombres}}</td>
                    <td>{{historialGrupo.docente.persona.apellidos}}</td>
                  </tr>
              
            
         
            </tbody>
          </table>
        </div>
      
      </section>


    </form>

    <br>
    <br>
    
    

    <br>
    <br>

  </body>

  <footer class="container-fluid bg-grey py-5">
    <div class="container">
       <div class="row">
          <div class="col-md-6">
             <div class="row">
                <div class="col-md-6 ">
                   <div class="logo-part">
                      <h2>AMGDS</h2>
                      <br>
                      <p>La Academia Militar Gotitas del Saber</p>
                      <p>Es una universidad dedicada a hacer sobresalir a sus estudiantes</p>
                   </div>
                </div>
                <div class="col-md-6 px-4">
                   <h6> Colaboradores</h6>
                   <p>Danny Yunga</p>
                   <p><a href="mailto:dannyy_2000@hotmail.com">dannyy_2000@hotmail.com</a></p>
                    <br>
                    <p>Paul Guzñay</p>
                    <p><a href="mailto:paul-guzhnay@hotmail.com">paul-guzhnay@hotmail.com</a></p>
                    <br>
                    <p>Joseph Reinoso</p>
                    <p><a href="mailto:joreinoso39@gmail.com">joreinoso39@gmail.com</a></p>
                    <br>
                </div>
             </div>
          </div>
          <div class="col-md-6">
             <div class="row">
                <div class="col-md-6 px-4">
                   <h6> Numeros De Contacto</h6>
                   <a href="tel:+593939889081">(593) 939889081</a>
                   <br>
                   <br>
                   <br>
                   <a href="tel:+593999038741">(593) 999038741</a>
                   <br>
                   <br>
                   <br>
                   <a href="tel:+593984709368">(593) 984709368</a>
                </div>
                <div class="col-md-6 ">
                   <h6> Nuestras Redes</h6>
                   <div class="social">
                      <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                      <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                   </div>
                   
                  
                </div>
             </div>
          </div>
       </div>
    </div>
    </footer>
  
</html>
